archive/unpack/ExcelFlowTest02_20260515223533/Microsoft.Flow/flows/f61681aa-4030-4730-a58b-e8d7a7764f6d/definition.json
{"name":"e73bd265-1829-497a-91ee-e387ab329691","id":"/providers/Microsoft.Flow/flows/e73bd265-1829-497a-91ee-e387ab329691","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ExcelTest","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"1861eb8f-9ed3-4514-82aa-3a7c01c6f70a","type":"User","tenantId":"53357042-b087-461e-8519-b117a4e3a7ba"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-05-15T19:00:35.1204679Z","connectionKeySavedTimeKey":"2026-05-15T19:00:35.1204679Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"QnA1U4ewHkaFGbEXpOOnuo_rYRjTnhRFgqo6fAHG9wpUMTg3Nko5R1VaUVdXMEdGRzk5QTc3R0FXVy4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"QnA1U4ewHkaFGbEXpOOnuo_rYRjTnhRFgqo6fAHG9wpUMTg3Nko5R1VaUVdXMEdGRzk5QTc3R0FXVy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Init_ConcertName":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConcertName","type":"string","value":"@outputs('Get_response_details')?['body/r97d477e4e6b94cf5a7760d3d5a30a9ce']"}]}},"Init_ConcertDate":{"runAfter":{"Init_ConcertName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConcertDate","type":"string","value":"@outputs('Get_response_details')?['body/r919a507d3dcb43108ecab3a41acfb4b5']"}]}},"Init_TemplateType":{"runAfter":{"Init_ConcertDate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TemplateType","type":"string","value":"@outputs('Get_response_details')?['body/r6fd6eb9bdbbf40ea85267b5081ae94b3']"}]}},"Init_ConcertLocation":{"runAfter":{"Init_TemplateType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConcertLocation","type":"string","value":"@outputs('Get_response_details')?['body/r09956447cbca4261a22d193e3ed5a08d']"}]}},"GetRowsFromTasksTemplateTable":{"runAfter":{"Init_ConcertLocation":["Succeeded"]},"metadata":{"01YVHKU6IGSSWYPT6RU5C3C7NNJQARB5OX":"/IT/Templates/PlannerTasksTemplate.xlsx","tableId":"{6F6A9072-90C5-460A-B5B9-1A3C025F6AC8}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/campanulajihlava.sharepoint.com,df20dd14-d2e8-4588-8fd3-68ef6513b004,03cf642e-c1dc-4b21-888a-9e819b1c59f0","drive":"b!FN0g3-jSiEWP02jvZROwBC5kzwPcwSFLiIqegZscWfCy38RzUqNcSK1zC30O2_9G","file":"01YVHKU6IGSSWYPT6RU5C3C7NNJQARB5OX","table":"{6F6A9072-90C5-460A-B5B9-1A3C025F6AC8}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"FilterExcelTasks":{"runAfter":{"GetRowsFromTasksTemplateTable":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('GetRowsFromTasksTemplateTable')?['body/value']","where":"@equals(item()?['TemplateType'],variables('TemplateType'))"}},"Send_an_email_(V2)":{"runAfter":{"ApplyToEach":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"martin.mikes@campanulajihlava.cz","emailMessage/Subject":"ExcelFlowTest","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('ConcertName')}, @{variables('TemplateType')}, @{variables('ConcertLocation')}, @{variables('ConcertDate')}</p><br><p class=\"editor-paragraph\">@{body('FilterExcelTasks')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"GetPlansForPSCampanula":{"runAfter":{"FilterExcelTasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"groupId":"a41f5114-a83e-48ae-8f09-6108674e138f"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"ListGroupPlans"},"authentication":"@parameters('$authentication')"}},"FilterPlan":{"runAfter":{"GetPlansForPSCampanula":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('GetPlansForPSCampanula')?['body/value']","where":"@startsWith(item()?['title'],'2026-06')"}},"GetPlanDetails":{"runAfter":{"FilterPlan":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@first(body('FilterPlan'))?['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"GetPlanDetails"},"authentication":"@parameters('$authentication')"}},"InitPlanId":{"runAfter":{"GetPlanDetails":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PlanId","type":"string","value":"@outputs('GetPlanDetails')?['body/id']"}]}},"ApplyToEach":{"foreach":"@body('FilterExcelTasks')","actions":{"Create_a_task":{"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"a41f5114-a83e-48ae-8f09-6108674e138f","body/planId":"@variables('PlanId')","body/title":"@item()?['TaskName']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"InitPlanId":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-e328d103-2e2c-4266-9cb8-13d5399c645f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-88aba91d-fb48-4c43-b1c9-79904bd8cfa9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-f1510477-2b1f-4745-95e8-72745a7c0415","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_planner":{"connectionName":"shared-planner-aa06ecc6-8956-40a3-991c-c8a80716d3d3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified","apiName":"planner","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}