src/CampanulaPlannerFlows/Workflows/CampanulaCreateConcertPlanFromTemplate.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "campa_sharedmicrosoftforms_createconcertplan"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_excelonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "campa_sharedexcelonlinebusiness_createconcertplan"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_planner": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "campa_sharedplanner_createconcertplan"
        },
        "api": {
          "name": "shared_planner"
        }
      },
      "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "campa_sharedcampanulaplannergraph_createconcertplan"
        },
        "api": {
          "name": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "campa_sharedoffice365_createconcertplan"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "formId": {
          "type": "String",
          "defaultValue": "QnA1U4ewHkaFGbEXpOOnuo_rYRjTnhRFgqo6fAHG9wpUMTg3Nko5R1VaUVdXMEdGRzk5QTc3R0FXVy4u"
        },
        "questionConcertName": {
          "type": "String",
          "defaultValue": "r97d477e4e6b94cf5a7760d3d5a30a9ce"
        },
        "questionTemplateType": {
          "type": "String",
          "defaultValue": "r6fd6eb9bdbbf40ea85267b5081ae94b3"
        },
        "questionLocation": {
          "type": "String",
          "defaultValue": "r09956447cbca4261a22d193e3ed5a08d"
        },
        "questionConcertDate": {
          "type": "String",
          "defaultValue": "r919a507d3dcb43108ecab3a41acfb4b5"
        },
        "plannerGroupId": {
          "type": "String",
          "defaultValue": "a41f5114-a83e-48ae-8f09-6108674e138f"
        },
        "excelSource": {
          "type": "String",
          "defaultValue": "sites/campanulajihlava.sharepoint.com,df20dd14-d2e8-4588-8fd3-68ef6513b004,03cf642e-c1dc-4b21-888a-9e819b1c59f0"
        },
        "excelDrive": {
          "type": "String",
          "defaultValue": "b!FN0g3-jSiEWP02jvZROwBC5kzwPcwSFLiIqegZscWfCy38RzUqNcSK1zC30O2_9G"
        },
        "excelFile": {
          "type": "String",
          "defaultValue": "01YVHKU6IGSSWYPT6RU5C3C7NNJQARB5OX"
        },
        "tasksTable": {
          "type": "String",
          "defaultValue": "tbTasksTemplate"
        },
        "bucketsTable": {
          "type": "String",
          "defaultValue": "tbBuckets"
        },
        "groupsTable": {
          "type": "String",
          "defaultValue": "tbGroups"
        },
        "progressTable": {
          "type": "String",
          "defaultValue": "tbProgress"
        },
        "priorityTable": {
          "type": "String",
          "defaultValue": "tbPriority"
        },
        "labelsTable": {
          "type": "String",
          "defaultValue": "tbLabels"
        },
        "notificationTo": {
          "type": "String",
          "defaultValue": "martin.mikes@campanulajihlava.cz"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "@parameters('formId')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "@parameters('formId')",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose_ConcertName": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@trim(string(body('Get_response_details')?[parameters('questionConcertName')]))"
        },
        "Compose_TemplateType": {
          "runAfter": {
            "Compose_ConcertName": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@trim(string(body('Get_response_details')?[parameters('questionTemplateType')]))"
        },
        "Compose_Location": {
          "runAfter": {
            "Compose_TemplateType": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@trim(string(body('Get_response_details')?[parameters('questionLocation')]))"
        },
        "Compose_ConcertDate": {
          "runAfter": {
            "Compose_Location": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@body('Get_response_details')?[parameters('questionConcertDate')]"
        },
        "Compose_PlannerPlanName": {
          "runAfter": {
            "Compose_ConcertDate": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@concat(outputs('Compose_ConcertName'), ' (', outputs('Compose_Location'), ')')"
        },
        "Compose_PlannerGroupUrl": {
          "runAfter": {
            "Compose_PlannerPlanName": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@concat('https://graph.microsoft.com/v1.0/groups/', parameters('plannerGroupId'))"
        },
        "Initialize_TemplateTypeFilters": {
          "runAfter": {
            "Compose_PlannerGroupUrl": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "templateTypeFilters",
                "type": "Array",
                "value": "@createArray(outputs('Compose_TemplateType'), outputs('Compose_Location'))"
              }
            ]
          }
        },
        "Initialize_BucketMap": {
          "runAfter": {
            "Initialize_TemplateTypeFilters": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "bucketMap",
                "type": "Object",
                "value": {}
              }
            ]
          }
        },
        "InitializePlanCategoryDescriptions": {
          "runAfter": {
            "Initialize_BucketMap": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "planCategoryDescriptions",
                "type": "Object",
                "value": {}
              }
            ]
          }
        },
        "Initialize_CreatedTaskCount": {
          "runAfter": {
            "InitializePlanCategoryDescriptions": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "createdTaskCount",
                "type": "Integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_ValidSelectedRows": {
          "runAfter": {
            "Initialize_CreatedTaskCount": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "validSelectedRows",
                "type": "Array",
                "value": []
              }
            ]
          }
        },
        "Initialize_SkippedSelectedRowWarnings": {
          "runAfter": {
            "Initialize_ValidSelectedRows": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "skippedSelectedRowWarnings",
                "type": "Array",
                "value": []
              }
            ]
          }
        },
        "Initialize_TaskChecklistItems": {
          "runAfter": {
            "Initialize_SkippedSelectedRowWarnings": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "taskChecklistItems",
                "type": "Object",
                "value": {}
              }
            ]
          }
        },
        "ValidateConcertRequest": {
          "runAfter": {
            "Initialize_TaskChecklistItems": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@formatDateTime(outputs('Compose_ConcertDate'), 'yyyy-MM-dd')",
                  "@convertTimeZone(utcNow(), 'UTC', 'Central Europe Standard Time', 'yyyy-MM-dd')"
                ]
              }
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "NotifyInvalidConcertDate": {
                "runAfter": {},
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "@parameters('notificationTo')",
                    "emailMessage/Subject": "@concat('Concert request rejected before Planner creation: ', outputs('Compose_PlannerPlanName'))",
                    "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">The concert request was rejected before Planner creation.</p>', '<p class=\"editor-paragraph\">Concert date <strong>', string(outputs('Compose_ConcertDate')), '</strong> must be later than the current Europe/Prague calendar date <strong>', convertTimeZone(utcNow(), 'UTC', 'Central Europe Standard Time', 'yyyy-MM-dd'), '</strong>.</p>', '<p class=\"editor-paragraph\">No Planner content was created. Submit a new concert request with a future event date.</p>')",
                    "emailMessage/Importance": "Normal"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "TerminateInvalidConcertRequest": {
                "runAfter": {
                  "NotifyInvalidConcertDate": [
                    "Succeeded",
                    "Failed",
                    "TimedOut"
                  ]
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "InvalidConcertDate",
                    "message": "The concert request date must be later than the current Europe/Prague calendar date."
                  }
                }
              }
            }
          }
        },
        "ReadWorkbookContract": {
          "runAfter": {
            "ValidateConcertRequest": [
              "Succeeded"
            ]
          },
          "type": "Scope",
          "actions": {
            "ListRowsTasksTemplate": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('tasksTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "ListRowsGroups": {
              "runAfter": {
                "ListRowsTasksTemplate": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('groupsTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "ListRowsBuckets": {
              "runAfter": {
                "ListRowsGroups": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('bucketsTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "ListRowsProgress": {
              "runAfter": {
                "ListRowsBuckets": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('progressTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "ListRowsPriority": {
              "runAfter": {
                "ListRowsProgress": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('priorityTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "ListRowsLabels": {
              "runAfter": {
                "ListRowsPriority": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('excelSource')",
                  "drive": "@parameters('excelDrive')",
                  "file": "@parameters('excelFile')",
                  "table": "@parameters('labelsTable')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            }
          }
        },
        "ValidateSharedPlanConfiguration": {
          "runAfter": {
            "ReadWorkbookContract": [
              "Succeeded"
            ]
          },
          "type": "Scope",
          "actions": {
            "FilterInvalidBucketRows": {
              "runAfter": {},
              "type": "Query",
              "inputs": {
                "from": "@outputs('ListRowsBuckets')?['body/value']",
                "where": "@or(equals(length(trim(coalesce(string(item()?['Bucket']), ''))), 0), equals(length(trim(coalesce(string(item()?['Description']), ''))), 0))"
              }
            },
            "SelectBucketNames": {
              "runAfter": {
                "FilterInvalidBucketRows": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('ListRowsBuckets')?['body/value']",
                "select": "@toLower(trim(string(item()?['Bucket'])))"
              }
            },
            "ComposeUniqueBucketNames": {
              "runAfter": {
                "SelectBucketNames": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@union(body('SelectBucketNames'), body('SelectBucketNames'))"
            },
            "FilterPopulatedLabelRows": {
              "runAfter": {
                "ComposeUniqueBucketNames": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('ListRowsLabels')?['body/value']",
                "where": "@or(greater(length(trim(coalesce(string(item()?['Label']), ''))), 0), greater(length(trim(coalesce(string(item()?['Name']), ''))), 0), greater(length(trim(coalesce(string(item()?['Color']), ''))), 0), greater(length(trim(coalesce(string(item()?['Usage']), ''))), 0))"
              }
            },
            "FilterInvalidPopulatedLabelRows": {
              "runAfter": {
                "FilterPopulatedLabelRows": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('FilterPopulatedLabelRows')",
                "where": "@not(and(contains(createArray('Label1', 'Label2', 'Label3', 'Label4', 'Label5', 'Label6', 'Label7', 'Label8', 'Label9', 'Label10', 'Label11', 'Label12', 'Label13', 'Label14', 'Label15', 'Label16', 'Label17', 'Label18', 'Label19', 'Label20', 'Label21', 'Label22', 'Label23', 'Label24', 'Label25'), trim(string(item()?['Label']))), greater(length(trim(coalesce(string(item()?['Name']), ''))), 0)))"
              }
            },
            "SelectPopulatedLabelSlots": {
              "runAfter": {
                "FilterInvalidPopulatedLabelRows": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('FilterPopulatedLabelRows')",
                "select": "@trim(string(item()?['Label']))"
              }
            },
            "ComposeUniquePopulatedLabelSlots": {
              "runAfter": {
                "SelectPopulatedLabelSlots": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@union(body('SelectPopulatedLabelSlots'), body('SelectPopulatedLabelSlots'))"
            },
            "SelectPopulatedLabelNames": {
              "runAfter": {
                "ComposeUniquePopulatedLabelSlots": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('FilterPopulatedLabelRows')",
                "select": "@toLower(trim(string(item()?['Name'])))"
              }
            },
            "ComposeUniquePopulatedLabelNames": {
              "runAfter": {
                "SelectPopulatedLabelNames": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@union(body('SelectPopulatedLabelNames'), body('SelectPopulatedLabelNames'))"
            },
            "ValidateSharedPlanConfigurationResult": {
              "runAfter": {
                "ComposeUniquePopulatedLabelNames": [
                  "Succeeded"
                ]
              },
              "type": "If",
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "TemplateType"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "TaskId"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "TaskName"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "GroupName"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "AssignedToEmails"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "DaysFromEvent"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "Bucket"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "Progress"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "Priority"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "Description"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "CheckListItems"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsTasksTemplate')?['body/value'])",
                      "Labels"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsGroups')?['body/value'])",
                      "GroupName"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsGroups')?['body/value'])",
                      "AssignedToEmails"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsBuckets')?['body/value'])",
                      "Bucket"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsBuckets')?['body/value'])",
                      "Description"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsProgress')?['body/value'])",
                      "Progress"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsPriority')?['body/value'])",
                      "Priority"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsLabels')?['body/value'])",
                      "Label"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsLabels')?['body/value'])",
                      "Name"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsLabels')?['body/value'])",
                      "Color"
                    ]
                  },
                  {
                    "contains": [
                      "@string(outputs('ListRowsLabels')?['body/value'])",
                      "Usage"
                    ]
                  },
                  {
                    "greater": [
                      "@length(outputs('ListRowsBuckets')?['body/value'])",
                      0
                    ]
                  },
                  {
                    "equals": [
                      "@length(body('FilterInvalidBucketRows'))",
                      0
                    ]
                  },
                  {
                    "equals": [
                      "@length(body('SelectBucketNames'))",
                      "@length(outputs('ComposeUniqueBucketNames'))"
                    ]
                  },
                  {
                    "equals": [
                      "@length(body('FilterInvalidPopulatedLabelRows'))",
                      0
                    ]
                  },
                  {
                    "equals": [
                      "@length(body('SelectPopulatedLabelSlots'))",
                      "@length(outputs('ComposeUniquePopulatedLabelSlots'))"
                    ]
                  },
                  {
                    "equals": [
                      "@length(body('SelectPopulatedLabelNames'))",
                      "@length(outputs('ComposeUniquePopulatedLabelNames'))"
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "NotifyInvalidSharedPlanConfiguration": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "@parameters('notificationTo')",
                        "emailMessage/Subject": "@concat('Concert request rejected before Planner creation: ', outputs('Compose_PlannerPlanName'))",
                        "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">The concert request was rejected before Planner creation.</p>', '<p class=\"editor-paragraph\">The shared workbook contract or shared plan configuration is invalid.</p>', '<p class=\"editor-paragraph\">Check the required workbook tables and columns, bucket catalog, and populated planning-label rows, then submit a new concert request.</p>', '<p class=\"editor-paragraph\">No Planner content was created.</p>')",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "TerminateInvalidSharedPlanConfiguration": {
                    "runAfter": {
                      "NotifyInvalidSharedPlanConfiguration": [
                        "Succeeded",
                        "Failed",
                        "TimedOut"
                      ]
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "InvalidSharedPlanConfiguration",
                        "message": "The workbook contract or shared plan configuration is invalid."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "NotifyPreflightFailure": {
          "runAfter": {
            "ReadWorkbookContract": [
              "Failed",
              "TimedOut"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@parameters('notificationTo')",
              "emailMessage/Subject": "@concat('Concert request rejected before Planner creation: ', outputs('Compose_PlannerPlanName'))",
              "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">The concert request was rejected before Planner creation.</p>', '<p class=\"editor-paragraph\">The workbook contract could not be read through Excel Online Business. Verify the required workbook tables and access, then submit a new concert request.</p>', '<p class=\"editor-paragraph\">No Planner content was created.</p>')",
              "emailMessage/Importance": "Normal"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "TerminatePreflightFailure": {
          "runAfter": {
            "NotifyPreflightFailure": [
              "Succeeded",
              "Failed",
              "TimedOut"
            ]
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed",
            "runError": {
              "code": "WorkbookContractReadFailed",
              "message": "The workbook contract could not be read before Planner creation."
            }
          }
        },
        "ValidateSelectedTaskRows": {
          "runAfter": {
            "ValidateSharedPlanConfiguration": [
              "Succeeded"
            ]
          },
          "type": "Scope",
          "actions": {
            "FilterSelectedTemplateRows": {
              "runAfter": {},
              "type": "Query",
              "inputs": {
                "from": "@outputs('ListRowsTasksTemplate')?['body/value']",
                "where": "@contains(variables('templateTypeFilters'), item()?['TemplateType'])"
              }
            },
            "ApplyToEachSelectedTemplateRow": {
              "runAfter": {
                "FilterSelectedTemplateRows": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@body('FilterSelectedTemplateRows')",
              "operationOptions": "Sequential",
              "actions": {
                "ComposeSelectedTaskId": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['TaskId']), ''))"
                },
                "ComposeSelectedTaskTitle": {
                  "runAfter": {
                    "ComposeSelectedTaskId": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['TaskName']), ''))"
                },
                "ComposeSelectedTaskGroupName": {
                  "runAfter": {
                    "ComposeSelectedTaskTitle": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['GroupName']), ''))"
                },
                "ComposeSelectedTaskAssignedToEmails": {
                  "runAfter": {
                    "ComposeSelectedTaskGroupName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['AssignedToEmails']), ''))"
                },
                "ComposeSelectedTaskAssignedToEmailsUpper": {
                  "runAfter": {
                    "ComposeSelectedTaskAssignedToEmails": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@toUpper(outputs('ComposeSelectedTaskAssignedToEmails'))"
                },
                "FilterSelectedTaskAssigneeTokens": {
                  "runAfter": {
                    "ComposeSelectedTaskAssignedToEmailsUpper": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@split(outputs('ComposeSelectedTaskAssignedToEmails'), ';')",
                    "where": "@greater(length(trim(string(item()))), 0)"
                  }
                },
                "SelectSelectedTaskAssigneeTokens": {
                  "runAfter": {
                    "FilterSelectedTaskAssigneeTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('FilterSelectedTaskAssigneeTokens')",
                    "select": "@toLower(trim(string(item())))"
                  }
                },
                "ComposeSelectedTaskUniqueAssigneeTokens": {
                  "runAfter": {
                    "SelectSelectedTaskAssigneeTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@union(body('SelectSelectedTaskAssigneeTokens'), body('SelectSelectedTaskAssigneeTokens'))"
                },
                "ComposeSelectedTaskNormalizedAssignedToEmails": {
                  "runAfter": {
                    "ComposeSelectedTaskUniqueAssigneeTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@join(outputs('ComposeSelectedTaskUniqueAssigneeTokens'), ';')"
                },
                "ComposeSelectedTaskDaysFromEvent": {
                  "runAfter": {
                    "ComposeSelectedTaskNormalizedAssignedToEmails": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['DaysFromEvent']), ''))"
                },
                "ComposeSelectedTaskBucketName": {
                  "runAfter": {
                    "ComposeSelectedTaskDaysFromEvent": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['Bucket']), ''))"
                },
                "ComposeSelectedTaskProgressName": {
                  "runAfter": {
                    "ComposeSelectedTaskBucketName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['Progress']), ''))"
                },
                "ComposeSelectedTaskPriorityName": {
                  "runAfter": {
                    "ComposeSelectedTaskProgressName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['Priority']), ''))"
                },
                "ComposeSelectedTaskGroupExists": {
                  "runAfter": {
                    "ComposeSelectedTaskPriorityName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@contains(string(outputs('ListRowsGroups')?['body/value']), concat('\"GroupName\":\"', outputs('ComposeSelectedTaskGroupName'), '\"'))"
                },
                "ComposeSelectedTaskBucketExists": {
                  "runAfter": {
                    "ComposeSelectedTaskGroupExists": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@contains(string(outputs('ListRowsBuckets')?['body/value']), concat('\"Bucket\":\"', outputs('ComposeSelectedTaskBucketName'), '\"'))"
                },
                "ComposeSelectedTaskProgressExists": {
                  "runAfter": {
                    "ComposeSelectedTaskBucketExists": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@contains(string(outputs('ListRowsProgress')?['body/value']), concat('\"Progress\":\"', outputs('ComposeSelectedTaskProgressName'), '\"'))"
                },
                "ComposeSelectedTaskPriorityExists": {
                  "runAfter": {
                    "ComposeSelectedTaskProgressExists": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@contains(string(outputs('ListRowsPriority')?['body/value']), concat('\"Priority\":\"', outputs('ComposeSelectedTaskPriorityName'), '\"'))"
                },
                "ComposeSelectedTaskLabels": {
                  "runAfter": {
                    "ComposeSelectedTaskPriorityExists": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@trim(coalesce(string(item()?['Labels']), ''))"
                },
                "FilterSelectedTaskLabelTokens": {
                  "runAfter": {
                    "ComposeSelectedTaskLabels": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@split(outputs('ComposeSelectedTaskLabels'), ';')",
                    "where": "@greater(length(trim(string(item()))), 0)"
                  }
                },
                "SelectSelectedTaskLabelTokens": {
                  "runAfter": {
                    "FilterSelectedTaskLabelTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('FilterSelectedTaskLabelTokens')",
                    "select": "@toLower(trim(string(item())))"
                  }
                },
                "ComposeSelectedTaskUniqueLabelTokens": {
                  "runAfter": {
                    "SelectSelectedTaskLabelTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@union(body('SelectSelectedTaskLabelTokens'), body('SelectSelectedTaskLabelTokens'))"
                },
                "ComposeSelectedTaskUniqueLabelTokenEnvelope": {
                  "runAfter": {
                    "ComposeSelectedTaskUniqueLabelTokens": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@concat(';', join(outputs('ComposeSelectedTaskUniqueLabelTokens'), ';'), ';')"
                },
                "FilterResolvedSelectedTaskLabelRows": {
                  "runAfter": {
                    "ComposeSelectedTaskUniqueLabelTokenEnvelope": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('ListRowsLabels')?['body/value']",
                    "where": "@and(greater(length(trim(coalesce(string(item()?['Name']), ''))), 0), contains(outputs('ComposeSelectedTaskUniqueLabelTokenEnvelope'), concat(';', toLower(trim(string(item()?['Name']))), ';')))"
                  }
                },
                "ComposeSelectedTaskAssignedToEmailsHasExcelError": {
                  "runAfter": {
                    "FilterResolvedSelectedTaskLabelRows": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@or(contains(outputs('ComposeSelectedTaskAssignedToEmailsUpper'), '#REF!'), contains(outputs('ComposeSelectedTaskAssignedToEmailsUpper'), '#VALUE!'), contains(outputs('ComposeSelectedTaskAssignedToEmailsUpper'), '#NAME?'), contains(outputs('ComposeSelectedTaskAssignedToEmailsUpper'), '#N/A'), contains(outputs('ComposeSelectedTaskAssignedToEmailsUpper'), '#DIV/0!'))"
                },
                "ComposeSelectedTaskValidationReason": {
                  "runAfter": {
                    "ComposeSelectedTaskAssignedToEmailsHasExcelError": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@if(equals(outputs('ComposeSelectedTaskId'), ''), 'TaskId is required.', if(equals(outputs('ComposeSelectedTaskTitle'), ''), 'TaskName is required.', if(equals(length(outputs('ComposeSelectedTaskGroupName')), 0), 'GroupName is required.', if(not(outputs('ComposeSelectedTaskGroupExists')), 'GroupName does not resolve in tbGroups.', if(equals(length(outputs('ComposeSelectedTaskAssignedToEmails')), 0), 'AssignedToEmails formula result is required.', if(outputs('ComposeSelectedTaskAssignedToEmailsHasExcelError'), 'AssignedToEmails contains an Excel error.', if(or(equals(length(outputs('ComposeSelectedTaskUniqueAssigneeTokens')), 0), greater(length(outputs('ComposeSelectedTaskUniqueAssigneeTokens')), 20), not(equals(length(body('SelectSelectedTaskAssigneeTokens')), length(outputs('ComposeSelectedTaskUniqueAssigneeTokens'))))), 'AssignedToEmails must resolve to 1-20 unique assignee addresses.', if(equals(length(outputs('ComposeSelectedTaskDaysFromEvent')), 0), 'DaysFromEvent is required.', if(equals(length(outputs('ComposeSelectedTaskBucketName')), 0), 'Bucket is required.', if(not(outputs('ComposeSelectedTaskBucketExists')), 'Bucket does not resolve in tbBuckets.', if(and(greater(length(outputs('ComposeSelectedTaskProgressName')), 0), not(outputs('ComposeSelectedTaskProgressExists'))), 'Progress does not resolve in tbProgress.', if(equals(length(outputs('ComposeSelectedTaskPriorityName')), 0), 'Priority is required.', if(not(outputs('ComposeSelectedTaskPriorityExists')), 'Priority does not resolve in tbPriority.', if(and(greater(length(body('FilterSelectedTaskLabelTokens')), 0), or(not(equals(length(body('SelectSelectedTaskLabelTokens')), length(outputs('ComposeSelectedTaskUniqueLabelTokens')))), not(equals(length(outputs('ComposeSelectedTaskUniqueLabelTokens')), length(body('FilterResolvedSelectedTaskLabelRows'))))))), 'Labels must resolve to unique tbLabels names.', '')))))))))))))"
                },
                "ComposeSelectedTaskWarningHtml": {
                  "runAfter": {
                    "ComposeSelectedTaskValidationReason": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@concat('<li><strong>', if(equals(outputs('ComposeSelectedTaskId'), ''), '(missing)', outputs('ComposeSelectedTaskId')), '</strong> - ', if(equals(outputs('ComposeSelectedTaskTitle'), ''), '(missing title)', outputs('ComposeSelectedTaskTitle')), ': ', outputs('ComposeSelectedTaskValidationReason'), '</li>')"
                },
                "IsSelectedTaskRowValid": {
                  "runAfter": {
                    "ComposeSelectedTaskWarningHtml": [
                      "Succeeded"
                    ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('ComposeSelectedTaskValidationReason')",
                          ""
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "AppendValidSelectedRow": {
                      "runAfter": {},
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "validSelectedRows",
                        "value": {
                          "TaskId": "@outputs('ComposeSelectedTaskId')",
                          "TaskName": "@outputs('ComposeSelectedTaskTitle')",
                          "AssignedToEmails": "@outputs('ComposeSelectedTaskNormalizedAssignedToEmails')",
                          "DaysFromEvent": "@outputs('ComposeSelectedTaskDaysFromEvent')",
                          "Bucket": "@outputs('ComposeSelectedTaskBucketName')",
                          "Progress": "@outputs('ComposeSelectedTaskProgressName')",
                          "Priority": "@outputs('ComposeSelectedTaskPriorityName')",
                          "Description": "@coalesce(item()?['Description'], '')",
                          "CheckListItems": "@coalesce(item()?['CheckListItems'], '')",
                          "category1": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label1\"')",
                          "category2": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label2\"')",
                          "category3": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label3\"')",
                          "category4": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label4\"')",
                          "category5": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label5\"')",
                          "category6": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label6\"')",
                          "category7": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label7\"')",
                          "category8": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label8\"')",
                          "category9": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label9\"')",
                          "category10": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label10\"')",
                          "category11": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label11\"')",
                          "category12": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label12\"')",
                          "category13": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label13\"')",
                          "category14": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label14\"')",
                          "category15": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label15\"')",
                          "category16": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label16\"')",
                          "category17": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label17\"')",
                          "category18": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label18\"')",
                          "category19": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label19\"')",
                          "category20": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label20\"')",
                          "category21": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label21\"')",
                          "category22": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label22\"')",
                          "category23": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label23\"')",
                          "category24": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label24\"')",
                          "category25": "@contains(string(body('FilterResolvedSelectedTaskLabelRows')), '\"Label\":\"Label25\"')"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "AppendSkippedSelectedRowWarning": {
                        "runAfter": {},
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "skippedSelectedRowWarnings",
                          "value": "@outputs('ComposeSelectedTaskWarningHtml')"
                        }
                      }
                    }
                  }
                }
              }
            },
            "EnsureValidSelectedTasks": {
              "runAfter": {
                "ApplyToEachSelectedTemplateRow": [
                  "Succeeded"
                ]
              },
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('validSelectedRows'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "NotifyNoValidSelectedTasks": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "@parameters('notificationTo')",
                        "emailMessage/Subject": "@concat('Concert request rejected before Planner creation: ', outputs('Compose_PlannerPlanName'))",
                        "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">The concert request was rejected before Planner creation.</p>', '<p class=\"editor-paragraph\">No selected template row remained valid after preflight classification.</p>', '<p class=\"editor-paragraph\">Skipped selected rows: ', string(length(variables('skippedSelectedRowWarnings'))), '</p>', if(greater(length(variables('skippedSelectedRowWarnings')), 0), concat('<ul>', join(variables('skippedSelectedRowWarnings'), ''), '</ul>'), ''), '<p class=\"editor-paragraph\">No Planner content was created. Correct the selected workbook rows and submit a new concert request.</p>')",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "TerminateNoValidSelectedTasks": {
                    "runAfter": {
                      "NotifyNoValidSelectedTasks": [
                        "Succeeded",
                        "Failed",
                        "TimedOut"
                      ]
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "NoValidSelectedTasks",
                        "message": "No selected template row remained valid after preflight classification."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Create_Planner_Plan": {
          "runAfter": {
            "ValidateSelectedTaskRows": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "body/container/url": "@outputs('Compose_PlannerGroupUrl')",
              "body/title": "@outputs('Compose_PlannerPlanName')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "operationId": "CreatePlan"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows_present_in_a_table_-_Buckets": {
          "runAfter": {
            "Create_Planner_Plan": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "@parameters('excelSource')",
              "drive": "@parameters('excelDrive')",
              "file": "@parameters('excelFile')",
              "table": "@parameters('bucketsTable')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          }
        },
        "FilterPopulatedPlannerLabelRows": {
          "runAfter": {
            "Create_Planner_Plan": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('ListRowsLabels')?['body/value']",
            "where": "@greater(length(trim(coalesce(string(item()?['Name']), ''))), 0)"
          }
        },
        "ApplyToEachPlannerLabel": {
          "runAfter": {
            "FilterPopulatedPlannerLabelRows": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "foreach": "@body('FilterPopulatedPlannerLabelRows')",
          "operationOptions": "Sequential",
          "actions": {
            "SetPlanCategoryDescriptions": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "planCategoryDescriptions",
                "value": "@setProperty(variables('planCategoryDescriptions'), replace(toLower(trim(string(item()?['Label']))), 'label', 'category'), trim(string(item()?['Name'])))"
              }
            }
          }
        },
        "GetPlannerPlanDetails": {
          "runAfter": {
            "ApplyToEachPlannerLabel": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "planId": "@body('Create_Planner_Plan')?['id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "operationId": "GetPlanDetails"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "UpdatePlannerPlanDetails": {
          "runAfter": {
            "GetPlannerPlanDetails": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "planId": "@body('Create_Planner_Plan')?['id']",
              "If-Match": "@body('GetPlannerPlanDetails')?['@odata.etag']",
              "body": {
                "categoryDescriptions": "@variables('planCategoryDescriptions')"
              }
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
              "operationId": "UpdatePlanDetails"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_bucket": {
          "runAfter": {
            "List_rows_present_in_a_table_-_Buckets": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "foreach": "@outputs('List_rows_present_in_a_table_-_Buckets')?['body/value']",
          "operationOptions": "Sequential",
          "actions": {
            "Create_Planner_Bucket": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "body/name": "@item()?['Bucket']",
                  "body/planId": "@body('Create_Planner_Plan')?['id']",
                  "body/orderHint": " !"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner",
                  "connectionName": "shared_planner",
                  "operationId": "CreateBucket_V2"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_BucketMap": {
              "runAfter": {
                "Create_Planner_Bucket": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "bucketMap",
                "value": "@setProperty(variables('bucketMap'), item()?['Bucket'], body('Create_Planner_Bucket')?['id'])"
              }
            }
          }
        },
        "Apply_to_each_template_task": {
          "runAfter": {
            "Apply_to_each_bucket": [
              "Succeeded"
            ],
            "UpdatePlannerPlanDetails": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "foreach": "@variables('validSelectedRows')",
          "operationOptions": "Sequential",
          "actions": {
            "Compose_TaskDueDate": {
              "runAfter": {},
              "type": "Compose",
              "inputs": "@addDays(outputs('Compose_ConcertDate'), int(coalesce(item()?['DaysFromEvent'], 0)))"
            },
            "Compose_PlannerPriority": {
              "runAfter": {
                "Compose_TaskDueDate": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@if(equals(item()?['Priority'], 'Urgent'), 1, if(equals(item()?['Priority'], 'Important'), 3, if(equals(item()?['Priority'], 'Low'), 9, 5)))"
            },
            "Create_Planner_Task": {
              "runAfter": {
                "Compose_PlannerPriority": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "body/groupId": "@parameters('plannerGroupId')",
                  "body/planId": "@body('Create_Planner_Plan')?['id']",
                  "body/bucketId": "@variables('bucketMap')?[item()?['Bucket']]",
                  "body/title": "@item()?['TaskName']",
                  "body/assignments": "@item()?['AssignedToEmails']",
                  "body/dueDateTime": "@outputs('Compose_TaskDueDate')",
                  "body/priority": "@outputs('Compose_PlannerPriority')",
                  "body/category1": "@item()?['category1']",
                  "body/category2": "@item()?['category2']",
                  "body/category3": "@item()?['category3']",
                  "body/category4": "@item()?['category4']",
                  "body/category5": "@item()?['category5']",
                  "body/category6": "@item()?['category6']",
                  "body/category7": "@item()?['category7']",
                  "body/category8": "@item()?['category8']",
                  "body/category9": "@item()?['category9']",
                  "body/category10": "@item()?['category10']",
                  "body/category11": "@item()?['category11']",
                  "body/category12": "@item()?['category12']",
                  "body/category13": "@item()?['category13']",
                  "body/category14": "@item()?['category14']",
                  "body/category15": "@item()?['category15']",
                  "body/category16": "@item()?['category16']",
                  "body/category17": "@item()?['category17']",
                  "body/category18": "@item()?['category18']",
                  "body/category19": "@item()?['category19']",
                  "body/category20": "@item()?['category20']",
                  "body/category21": "@item()?['category21']",
                  "body/category22": "@item()?['category22']",
                  "body/category23": "@item()?['category23']",
                  "body/category24": "@item()?['category24']",
                  "body/category25": "@item()?['category25']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner",
                  "connectionName": "shared_planner",
                  "operationId": "CreateTask_V3"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "GetPlannerTask": {
              "runAfter": {
                "Create_Planner_Task": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@body('Create_Planner_Task')?['id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "operationId": "GetTask"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ConditionallyUpdatePlannerTaskProgress": {
              "runAfter": {
                "GetPlannerTask": [
                  "Succeeded"
                ]
              },
              "type": "If",
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@item()?['Progress']",
                      "In progress"
                    ]
                  },
                  {
                    "equals": [
                      "@item()?['Progress']",
                      "Completed"
                    ]
                  }
                ]
              },
              "actions": {
                "UpdatePlannerTask": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "id": "@body('Create_Planner_Task')?['id']",
                      "If-Match": "@body('GetPlannerTask')?['@odata.etag']",
                      "body": {
                        "percentComplete": "@if(equals(item()?['Progress'], 'Completed'), 100, 50)"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                      "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                      "operationId": "UpdateTask"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "else": {
                "actions": {}
              }
            },
            "SetTaskChecklistItemsEmpty": {
              "runAfter": {
                "ConditionallyUpdatePlannerTaskProgress": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "taskChecklistItems",
                "value": {}
              }
            },
            "ApplyToEachChecklistItemPayload": {
              "runAfter": {
                "SetTaskChecklistItemsEmpty": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@split(coalesce(item()?['CheckListItems'], ''), ';')",
              "operationOptions": "Sequential",
              "actions": {
                "AddChecklistItemToPayload": {
                  "runAfter": {},
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(trim(item()))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "SetTaskChecklistItems": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "taskChecklistItems",
                        "value": "@setProperty(variables('taskChecklistItems'), guid(), setProperty(setProperty(setProperty(json('{}'), '@odata.type', 'microsoft.graph.plannerChecklistItem'), 'isChecked', false), 'title', trim(item())))"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  }
                }
              }
            },
            "GetPlannerTaskDetails": {
              "runAfter": {
                "ApplyToEachChecklistItemPayload": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@body('Create_Planner_Task')?['id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "operationId": "GetTaskDetails"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "UpdatePlannerTaskDetails": {
              "runAfter": {
                "GetPlannerTaskDetails": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@body('Create_Planner_Task')?['id']",
                  "If-Match": "@body('GetPlannerTaskDetails')?['@odata.etag']",
                  "body": {
                    "description": "@coalesce(item()?['Description'], '')",
                    "checklist": "@variables('taskChecklistItems')"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "connectionName": "shared_campa-campanula-planner-graph-5f2d765a9c3b99d87d",
                  "operationId": "UpdateTaskDetails"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Increment_CreatedTaskCount": {
              "runAfter": {
                "UpdatePlannerTaskDetails": [
                  "Succeeded"
                ]
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "createdTaskCount",
                "value": 1
              }
            }
          }
        },
        "Send_summary_notification": {
          "runAfter": {
            "Apply_to_each_template_task": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@parameters('notificationTo')",
              "emailMessage/Subject": "@concat('Planner plan created: ', outputs('Compose_PlannerPlanName'))",
              "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">Planner plan <strong>', outputs('Compose_PlannerPlanName'), '</strong> was created.</p>', '<p class=\"editor-paragraph\">Concert name: ', outputs('Compose_ConcertName'), '</p>', '<p class=\"editor-paragraph\">Template type: ', outputs('Compose_TemplateType'), '</p>', '<p class=\"editor-paragraph\">Location: ', outputs('Compose_Location'), '</p>', '<p class=\"editor-paragraph\">Concert date: ', string(outputs('Compose_ConcertDate')), '</p>', '<p class=\"editor-paragraph\">Created tasks: ', string(variables('createdTaskCount')), '</p>', '<p class=\"editor-paragraph\">Skipped selected rows: ', string(length(variables('skippedSelectedRowWarnings'))), '</p>', if(greater(length(variables('skippedSelectedRowWarnings')), 0), concat('<p class=\"editor-paragraph\">The plan was created with warnings.</p><ul>', join(variables('skippedSelectedRowWarnings'), ''), '</ul>'), ''))",
              "emailMessage/Importance": "Normal"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": "CampanulaCreateConcertPlanFromTemplate"
  },
  "schemaVersion": "1.0.0.0"
}
