src/CampanulaCreateConcertPlanFromTemplateDemo/Microsoft.Flow/flows/34e0d128-48ab-4c6c-8cb9-2f49a26b27b2/definition.json
{"name":"0546c190-5ba9-4f7e-9e7a-aa89d3f8f999","id":"/providers/Microsoft.Flow/flows/0546c190-5ba9-4f7e-9e7a-aa89d3f8f999","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create a task in Planner from Microsoft Forms and post message in Teams","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"1861eb8f-9ed3-4514-82aa-3a7c01c6f70a","type":"User","tenantId":"53357042-b087-461e-8519-b117a4e3a7ba"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-05-07T11:51:52.2023171Z","connectionKeySavedTimeKey":"2026-05-07T11:51:52.2023171Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"QnA1U4ewHkaFGbEXpOOnuo_rYRjTnhRFgqo6fAHG9wpUMTg3Nko5R1VaUVdXMEdGRzk5QTc3R0FXVy4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"QnA1U4ewHkaFGbEXpOOnuo_rYRjTnhRFgqo6fAHG9wpUMTg3Nko5R1VaUVdXMEdGRzk5QTc3R0FXVy4u","response_id":"@{triggerOutputs()?['body/resourceData/responseId']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Create_a_task":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/planId":"6lLwTReQUEyuOt1hgp0cEJgAGXjx","body/title":"New Plan Title","body/assignments":""},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V2"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_task":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_an_email_notification_(V3)":{"runAfter":{"Create_a_task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"martin.mikes@campanulajihlava.cz","request/subject":"Plán s úkoly vytvořen","request/text":"<p class=\"editor-paragraph\">Test...</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail-1","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-e328d103-2e2c-4266-9cb8-13d5399c645f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_planner":{"connectionName":"shared-planner-aa06ecc6-8956-40a3-991c-c8a80716d3d3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified","apiName":"planner","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sendmail-1":{"connectionName":"shared-sendmail-d7105286-5549-435d-8c23-41fbb2370e9e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}